@-webkit-keyframes title {
  /* line 12, ../../sass/broken/main.scss */
  from {
    color: #EEE;
    margin-top: -220px; }

  /* line 16, ../../sass/broken/main.scss */
  to {
    color: #333;
    margin-top: 0px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000335}}
.clear {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000337}}
body {
  padding: 60px 0px 0px 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000345}}
nav {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: #FFF;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000355}}
  nav ul {
    width: 900px;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000363}}
    nav ul li {
      -webkit-transition: border 0.2s;
      -moz-transition: border 0.2s;
      -o-transition: border 0.2s;
      transition: border 0.2s;
      float: left;
      margin-bottom: -3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000368}}
      nav ul li.selected {
        border-bottom: 10px solid #d30d15; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000372}}
      nav ul li.home {
        padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000375}}
        nav ul li.home a {
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          border-radius: 100px;
          display: block;
          line-height: 40px;
          width: 40px;
          background: #d30d15;
          color: #FFF;
          font-family: "Cherry Swash", sans-serif;
          text-align: center;
          font-size: 24px;
          padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\0000390}}
    nav ul a {
      float: left;
      text-decoration: none;
      padding: 20px 15px;
      color: #999;
      text-transform: uppercase;
      font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003102}}
header {
  background: #fcfcfc;
  padding: 40px 0px 100px 0px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 100px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003110}}
  header hgroup {
    text-align: center;
    font-family: "Cherry Swash", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003114}}
    header hgroup h1 {
      -webkit-animation-name: title;
      -khtml-animation-name: title;
      -moz-animation-name: title;
      -ms-animation-name: title;
      -o-animation-name: title;
      animation-name: title;
      -webkit-animation-duration: 2.5s;
      -webkit-animation-iteration-count: 1;
      font-size: 150px;
      font-weight: 700;
      margin: 0px 10px 0px 10px;
      line-height: 150px;
      color: #333;
      text-shadow: 0px 1px 0px #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003123}}
    header hgroup h2 {
      color: #999;
      font-weight: normal;
      margin: 0px 10px 20px 10px;
      text-shadow: 0px 1px 0px #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003131}}
  header .social-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003136}}
    header .social-buttons .github-button {
      min-width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003141}}
  header .button-download {
    position: absolute;
    bottom: -74px;
    left: 50%;
    margin-left: -74px;
    z-index: 10; }
  @media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003102}}
    header {
      padding: 70px 0px 80px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003156}}
      header hgroup h1 {
        font-size: 70px;
        line-height: 80px;
        margin: 0px 10px 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003161}}
      header hgroup h2 {
        font-size: 24px;
        margin: 0px 20px 20px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003167}}
      header .social-buttons {
        position: absolute;
        top: 20px;
        left: auto;
        bottom: auto;
        right: 20px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003179}}
#page {
  max-width: 920px;
  margin: 0px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003184}}
  #page .showcase {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: #fcfcfc;
    margin: 0px 10px 60px 10px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003191}}
    #page .showcase hgroup {
      position: absolute;
      top: -30px;
      z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003196}}
      #page .showcase hgroup h3 {
        font-family: "Cherry Swash", sans-serif;
        font-weight: lighter;
        color: #CCC;
        font-size: 16px;
        line-height: 30px;
        margin: 0px;
        padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003205}}
        #page .showcase hgroup h3 em {
          font-size: 11px;
          color: #999;
          font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003210}}
          #page .showcase hgroup h3 em a {
            color: #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003217}}
    #page .showcase .gallery {
      padding: 20px 20px 20px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003220}}
      #page .showcase .gallery > ul {
        list-style-type: none;
        margin: 0px 0px 20px 0px;
        padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003225}}
        #page .showcase .gallery > ul:last-child {
          margin-bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003229}}
        #page .showcase .gallery > ul > li {
          margin: 5px;
          display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003235}}
      #page .showcase .gallery em {
        font-size: 11px;
        color: #999;
        font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003240}}
        #page .showcase .gallery em a {
          color: #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003246}}
    #page .showcase .prettyprint {
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: #333;
      padding: 10px 5px;
      margin: 0;
      font-size: 11px;
      line-height: 16px;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003256}}
      #page .showcase .prettyprint li.L1, #page .showcase .prettyprint li.L3, #page .showcase .prettyprint li.L5, #page .showcase .prettyprint li.L7, #page .showcase .prettyprint li.L9 {
        background: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003264}}
#setup {
  background: #EEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003267}}
  #setup h2 {
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    color: #CCC;
    text-shadow: 0px 1px 0px #FFF;
    margin: 0px 0px 20px 0px;
    line-height: 60px; }
    @media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003267}}
      #setup h2 {
        font-size: 44px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003280}}
  #setup h3 {
    color: #666;
    font-size: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003285}}
  #setup .instructions {
    max-width: 880px;
    padding: 40px 20px;
    margin: 0px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003290}}
    #setup .instructions ol.steps {
      padding-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003292}}
      #setup .instructions ol.steps > li {
        line-height: 22px;
        margin-bottom: 10px;
        color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003299}}
    #setup .instructions em {
      font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003305}}
  #setup .prettyprint {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #333;
    padding: 5px;
    margin: 0;
    font-size: 10px;
    line-height: 16px;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003315}}
    #setup .prettyprint .linenums {
      padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003319}}
    #setup .prettyprint li.L1, #setup .prettyprint li.L3, #setup .prettyprint li.L5, #setup .prettyprint li.L7, #setup .prettyprint li.L9 {
      background: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003324}}
  #setup .customize {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003328}}
  #setup .setup {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003331}}
  #setup .customize, #setup .setup {
    width: 47%;
    text-align: left; }
    @media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003331}}
      #setup .customize, #setup .setup {
        float: none;
        width: auto;
        margin: 20px auto 40px auto; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003344}}
footer {
  background: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
  font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003351}}
  footer a {
    color: #FFF; }

@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003366}}
  body {
    padding: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003371}}
  nav {
    position: static; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003374}}
    nav ul {
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003377}}
      nav ul li {
        float: none;
        display: block;
        border-bottom: 1px solid #EEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003382}}
        nav ul li.home {
          padding: 10px;
          margin: 5px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003385}}
          nav ul li.home a {
            margin: 5px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003391}}
        nav ul li.selected {
          border-bottom: 1px solid #EEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/elliot\/public_html\/juststairs\.com\.au\/sites\/all\/themes\/just_stairs\/sass\/broken\/main\.scss}line{font-family:\00003395}}
        nav ul li a {
          float: none;
          display: block;
          line-height: 24px;
          padding: 10px 20px;
          font-size: 18px;
          text-align: center; } }
