//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
$namespace: '.button'; //prefix for all classes
$glow_namespace: '.glow';
$glow_color: #2c9adb;
$bgcolor: #EEE;
$height: 40px;
$padding:0 ($height * .4);

//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$font-color: #fff;
$font-size: 16px;
$font-weight: 500;
$font-family: "Open Sans";


//////////////////////////////////////////////////////////
// BUTTON OPTIONS ////////////////////////////////////////
//////////////////////////////////////////////////////////

// (name background-color font-color) add as many as you like.
$button_actions: ('primary' #FFF) ('orange' #ffffff) ('primary2' #FFF) ('action' #7db500 #FFF) ('highlight' #F18D05 #FFF)('caution' #E54028 #FFF) ('royal' #87318C #FFF) ('grey' #ddd #333333);
$button_styles: 'rounded' 'pill' 'circle' 'rounded-icon';
$button_sizes: 'large' 'small' 'tiny' 'icon-large';
$circle-size: 120px; //radius for circle buttons, circles only have one size


//////////////////////////////////////////////////////////
// MORE COLORS  //////////////////////////////////////////
//////////////////////////////////////////////////////////

//Original Colors//
//$button_actions: ('primary' #2c9adb #FFF) ('action' #7db500 #FFF) ('highlight' #f19900 #FFF) ('caution' #ed1c24 #FFF) ('royal' #771ead #FFF);

