/* 
*	Flexslider based gallery block, outputs gield_gallery_images via views and takes node id as an argument. 
*	
*	View class: .gallery-block-view .gallery-block-page
*	View class: .gallery-block
*
*/
.gallery-block {

	//Remove block padding
	.block__content {
		padding:0;
	}
	.field--name-field-caption {
		margin:0;
	}
	
	@include rhythm(0,0,0,1);
	
	.flexslider {
		@include rhythm(0,0,0,0);
	}
	
	.flex-control-nav {
		bottom:  $vert-spacing-unit/8;
		right:$vert-spacing-unit/4;
		width:auto;
	}

}

