


.sf-menu.sf-style-juststairs li li a, .sf-menu.sf-style-juststairs li.sfHover a {
  color:#fff !important;
}

//// Mobile Menu Stylingi ////

#superfish-1-toggle  {
	background: image-url('menu.png') no-repeat;
	display: block;
	span {
		margin-right: 40px;
	    font-size: 1px;
	    color: white;
		display: block;
	}
}

div.sf-accordion-toggle.sf-style-juststairs a.sf-expanded {
	background: none;
	font-weight: normal;
}

#superfish-1-accordion {
	li {
		background: #0778BE;
	}
	.sf-depth-2  {
		border-bottom: 1px solid #054873;
		background: #045B90;
	}
	.last.sf-depth-2 {
		border-bottom: none;
	}
	.sf-depth-1 a {
		font-family: 'Lato';
		font-weight: bold;
		color: white;
		font-size: 15px;
	}
	
	.sf-depth-1 a.active, 
	.sf-depth-1 li.active-trail a, 
	.sf-depth-1 a:hover, 
	.sf-depth-1 li li.sfHover a,
	.sf-depth-2 a {
		background: #045B90;
		color: white;
	}
	.sf-clone-parent {
		display: none;
	}
	.sf-depth-1  a.menuparent {
		background: image-url('arrows-ffffff.png') no-repeat right -72px;
		display: inline;
		line-height: 44px;
	}
	.sf-depth-1 li a.menuparent {
		background: image-url('arrows-ffffff.png') no-repeat right -79px;
	}
	.sf-menu.sf-style-juststairs a.sf-with-ul {
		padding-right: 1.1em;
	}
}
.r-red {
	cursor: pointer;
}
a > .sf-sub-indicator {
	top: 0.7em;
}

