.node--page .flexslider .slides {
	
	img {
		max-width: 100%;
		min-width: 100%;
	}
	width: 320px;
	margin: 0;
	//Float right for tablets.
	@include breakpoint($tabs,true) {
		float:right;
		padding-left:$vert-spacing-unit;
	}
	
	@include trailing-border(0px, 0.1);
	padding-bottom: 0.7em;
}

.l-content .node--page .flexslider {
	float: right;
	@include pie-clearfix;
	ul li {
		border-bottom: none;
		margin: 0;
		padding: 0;
		&:before {
			content: '';
		}
	}
	+ p {
		font-size: 14px;
		font-weight: 400px;
	}
	.flex-control-nav {
		position: initial;
		padding-left: 20px;
	}
}
.l-content .node--page  .flexslider + .field--name-body p:first-child {
	font-size: 14px;
	font-weight: 400;
	clear: none;
	line-height: 1.7em;
}

///////////////////////////////////////////////////////////
//// IMAGES
///////////////////////////////////////////////////////////


.caption {
	background:#f7f7f7;
	
	@include adjust-font-size-to(11px);
	font-weight:400;
	
	padding:0 $vert-spacing-unit/2;
	@include rhythm(0,0.5,0.5,0);

}

.hero-image {
	float:right;

	@include breakpoint($tabs,true) {
		margin:0 0 0 $vert-spacing-unit;
		@include rhythm(0.5,0,0,0.5);
		@include single-box-shadow(rgba($mid-grey,0.2),2px, 2px, 0px, 1px, false);
	}

	padding-left:0;
}

body {
	padding:0;
}

