@-webkit-keyframes glowing {
  /* line 8, ../../../sass/components/buttons/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 9, ../../../sass/components/buttons/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 10, ../../../sass/components/buttons/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-khtml-keyframes glowing {
  /* line 14, ../../../sass/components/buttons/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 15, ../../../sass/components/buttons/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 16, ../../../sass/components/buttons/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-moz-keyframes glowing {
  /* line 20, ../../../sass/components/buttons/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 21, ../../../sass/components/buttons/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 22, ../../../sass/components/buttons/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-ms-keyframes glowing {
  /* line 26, ../../../sass/components/buttons/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 27, ../../../sass/components/buttons/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 28, ../../../sass/components/buttons/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-o-keyframes glowing {
  /* line 32, ../../../sass/components/buttons/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 33, ../../../sass/components/buttons/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 34, ../../../sass/components/buttons/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@keyframes glowing {
  /* line 38, ../../../sass/components/buttons/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 39, ../../../sass/components/buttons/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 40, ../../../sass/components/buttons/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000325}}
.button {
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 40px;
  line-height: 40px;
  padding: 0px 32px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000343}}
  .button:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000347}}
  .button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000353}}
  .button:focus {
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000359}}
input.button, button.button {
  height: 42px;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000365}}
.button-block {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000374}}
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\0000384}}
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003100}}
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003100}}
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003100}}
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003135}}
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5cb2e4), color-stop(100%, #228dcc));
  background: -webkit-linear-gradient(top, #5cb2e4, #228dcc);
  background: -moz-linear-gradient(top, #5cb2e4, #228dcc);
  background: -o-linear-gradient(top, #5cb2e4, #228dcc);
  background: linear-gradient(top, #5cb2e4, #228dcc);
  background-color: #39a1de;
  border-color: #2187c3;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003142}}
  .button-primary:hover {
    background-color: #39a1de;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6dbae7), color-stop(100%, #2496d9));
    background: -webkit-linear-gradient(top, #6dbae7, #2496d9);
    background: -moz-linear-gradient(top, #6dbae7, #2496d9);
    background: -o-linear-gradient(top, #6dbae7, #2496d9);
    background: linear-gradient(top, #6dbae7, #2496d9); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003146}}
  .button-primary:active {
    background: #509bc7;
    color: #196998; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003135}}
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89e90d), color-stop(100%, #5b9b09));
  background: -webkit-linear-gradient(top, #89e90d, #5b9b09);
  background: -moz-linear-gradient(top, #89e90d, #5b9b09);
  background: -o-linear-gradient(top, #89e90d, #5b9b09);
  background: linear-gradient(top, #89e90d, #5b9b09);
  background-color: #72c20b;
  border-color: #569208;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003142}}
  .button-action:hover {
    background-color: #72c20b;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93f218), color-stop(100%, #64aa0a));
    background: -webkit-linear-gradient(top, #93f218, #64aa0a);
    background: -moz-linear-gradient(top, #93f218, #64aa0a);
    background: -o-linear-gradient(top, #93f218, #64aa0a);
    background: linear-gradient(top, #93f218, #64aa0a); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003146}}
  .button-action:active {
    background: #6fae1f;
    color: #396106; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003135}}
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faa024), color-stop(100%, #c97604));
  background: -webkit-linear-gradient(top, #faa024, #c97604);
  background: -moz-linear-gradient(top, #faa024, #c97604);
  background: -o-linear-gradient(top, #faa024, #c97604);
  background: linear-gradient(top, #faa024, #c97604);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003142}}
  .button-highlight:hover {
    background-color: #f18d05;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba838), color-stop(100%, #d87e04));
    background: -webkit-linear-gradient(top, #fba838, #d87e04);
    background: -moz-linear-gradient(top, #fba838, #d87e04);
    background: -o-linear-gradient(top, #fba838, #d87e04);
    background: linear-gradient(top, #fba838, #d87e04); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003146}}
  .button-highlight:active {
    background: #d8891e;
    color: #8d5303; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003135}}
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9604c), color-stop(100%, #cc2f19));
  background: -webkit-linear-gradient(top, #e9604c, #cc2f19);
  background: -moz-linear-gradient(top, #e9604c, #cc2f19);
  background: -o-linear-gradient(top, #e9604c, #cc2f19);
  background: linear-gradient(top, #e9604c, #cc2f19);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003142}}
  .button-caution:hover {
    background-color: #e54028;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ec715f), color-stop(100%, #d9331a));
    background: -webkit-linear-gradient(top, #ec715f, #d9331a);
    background: -moz-linear-gradient(top, #ec715f, #d9331a);
    background: -o-linear-gradient(top, #ec715f, #d9331a);
    background: linear-gradient(top, #ec715f, #d9331a); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003146}}
  .button-caution:active {
    background: #cd5240;
    color: #952312; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003135}}
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a43caa), color-stop(100%, #6a266e));
  background: -webkit-linear-gradient(top, #a43caa, #6a266e);
  background: -moz-linear-gradient(top, #a43caa, #6a266e);
  background: -o-linear-gradient(top, #a43caa, #6a266e);
  background: linear-gradient(top, #a43caa, #6a266e);
  background-color: #87318c;
  border-color: #632466;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003142}}
  .button-royal:hover {
    background-color: #87318c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b341b9), color-stop(100%, #752a79));
    background: -webkit-linear-gradient(top, #b341b9, #752a79);
    background: -moz-linear-gradient(top, #b341b9, #752a79);
    background: -o-linear-gradient(top, #b341b9, #752a79);
    background: linear-gradient(top, #b341b9, #752a79); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003146}}
  .button-royal:active {
    background: #764479;
    color: #3e1740; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003160}}
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003169}}
  .button-flat:hover {
    background: #fbfbfb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003172}}
  .button-flat:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003177}}
  .button-flat.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003189}}
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #39a1de;
  color: white;
  text-shadow: none;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003198}}
  .button-flat-primary:hover {
    background: #4fabe2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003201}}
  .button-flat-primary:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #509bc7;
    color: #1d78ae; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003206}}
  .button-flat-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003189}}
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #72c20b;
  color: white;
  text-shadow: none;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003198}}
  .button-flat-action:hover {
    background: #80da0c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003201}}
  .button-flat-action:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #6fae1f;
    color: #477a07; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003206}}
  .button-flat-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003189}}
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003198}}
  .button-flat-highlight:hover {
    background: #fa9915; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003201}}
  .button-flat-highlight:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #d8891e;
    color: #a66103; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003206}}
  .button-flat-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003189}}
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003198}}
  .button-flat-caution:hover {
    background: #e8543f; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003201}}
  .button-flat-caution:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #cd5240;
    color: #ac2815; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003206}}
  .button-flat-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003189}}
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003198}}
  .button-flat-royal:hover {
    background: #99389f; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003201}}
  .button-flat-royal:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #764479;
    color: #501d53; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003206}}
  .button-flat-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003221}}
.button-large {
  font-size: 19px;
  height: 48px;
  line-height: 48px;
  padding: 0px 38.4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003245}}
input.button-large, button.button-large {
  height: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003221}}
.button-small {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003245}}
input.button-small, button.button-small {
  height: 34px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003221}}
.button-tiny {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0px 22.4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003245}}
input.button-tiny, button.button-tiny {
  height: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003265}}
.button.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003268}}
.button.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003279}}
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003284}}
  .button-dropdown .button-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003295}}
  .button-dropdown .button .icon-caret-down {
    font-size: 90%;
    margin: 0px 0px 0px 3px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003302}}
  .button-dropdown ul.button-dropdown-menu-below {
    top: 115%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003305}}
  .button-dropdown ul.button-dropdown-menu-above {
    bottom: 115%;
    top: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003311}}
  .button-dropdown ul {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    background: #fcfcfc;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003325}}
    .button-dropdown ul li {
      padding: 0px;
      margin: 0px;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003330}}
      .button-dropdown ul li:first-child a {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003333}}
      .button-dropdown ul li:last-child a {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003339}}
    .button-dropdown ul .button-dropdown-divider {
      -webkit-box-shadow: inset 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 0px white;
      box-shadow: inset 0px 1px 0px white;
      border-top: 1px solid #e4e4e4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003344}}
    .button-dropdown ul a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: 12px;
      color: #333333;
      line-height: 30px;
      white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/partials\/_buttons\.scss}line{font-family:\00003353}}
      .button-dropdown ul a:hover {
        background-color: #3c6ab9;
        color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/buttons\.scss}line{font-family:\000033}}
a.button {
  font-family: 'Candara';
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(63, 63, 63, 0.6);
  letter-spacing: 0.03em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/buttons\.scss}line{font-family:\000039}}
.flexslider a.button {
  height: initial;
  padding: 2px 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/buttons\.scss}line{font-family:\0000315}}
.view-quicklinks a.button {
  height: 36px;
  line-height: 34px;
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/buttons\.scss}line{font-family:\0000322}}
.fa {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/components\/buttons\/buttons\.scss}line{font-family:\0000327}}
.fa-th {
  color: white; }
