/*******************************************************************************
 * allround.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@font-face {
  font-family: "Open Sans";
  src: url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.eot);
  src: url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.eot?#iefix) format('eot'), url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.svg) format('svg'); }

@media (max-width: 20em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000339}}
  .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title {
    display: table-cell; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000345}}
img {
  max-width: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000350}}
.l-page {
  font-family: "Open Sans";
  line-height: 1.7em;
  font-size: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000360}}
.l-header,
.l-main,
.l-post-main,
.l-post-footer,
.l-hero {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/asim\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.just_stairs\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after,
  .l-main:after,
  .l-post-main:after,
  .l-post-footer:after,
  .l-hero:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000366}}
.l-header #block-block-12 {
  float: right;
  display: none;
  font-weight: bold;
  padding: 0em 1em;
  border-left: 1px solid #CCC;
  margin-top: 1.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000373}}
  .l-header #block-block-12 p {
    margin: 0.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000376}}
  .l-header #block-block-12 a {
    color: #0777BD;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000384}}
.l-hero,
.l-post-footer {
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000388}}
.l-branding {
  padding: 26px 2em 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000392}}
.l-hero-wrap {
  background: url("../../../images/header-bg.png") repeat;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\0000399}}
  .l-hero-wrap .l-hero-inner img {
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003105}}
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/asim\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.just_stairs\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003112}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003116}}
.flexslider {
  border: none;
  background: none;
  border-radius: none;
  box-shadow: none;
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003124}}
.flex-direction-nav a:before {
  font-size: 23px !important;
  text-shadow: 1px 1px 2px #000000;
  filter: dropshadow(color=black, offx=1, offy=1); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003131}}
.l-hero {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003138}}
  .l-hero .view-quicklinks .views-column .quicklink {
    overflow: hidden;
    *zoom: 1;
    margin: 1em 1em;
    border: 1px solid #DDD;
    background: #fff;
    font-size: 0.95em;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 1px #CCC;
    box-shadow: 1px 1px 3px 1px #CCC;
    min-height: 5em;
    max-height: 7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003150}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-content {
      padding: 0em 1em;
      font-size: 0.85em;
      float: right;
      width: 50%;
      display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003156}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title {
        font-size: 0.8em;
        padding: 0em 1em 0em 0em;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003161}}
        .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title h2 {
          padding: 20% 0em;
          margin: 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003167}}
        .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title i {
          position: absolute;
          right: 5px;
          top: 43%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003173}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-body {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003178}}
    .l-hero .view-quicklinks .views-column .quicklink a.button {
      position: absolute;
      bottom: 1em;
      right: 1em;
      z-index: 4;
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003191}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-image {
      margin-bottom: -0.5em;
      width: 50%;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003201}}
  .l-hero .header-cta {
    float: right;
    padding: 1.8em 1em;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003206}}
  .l-hero .l-title-inner {
    float: left;
    padding: 1em 0em;
    padding-left: 1em;
    text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003213}}
  .l-hero #block-block-10 {
    overflow: hidden;
    *zoom: 1;
    z-index: 4;
    text-align: center;
    background: #0777BD;
    width: 100%;
    opacity: 0.8;
    margin-bottom: -4em;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003227}}
  .l-hero img {
    width: 100%;
    max-height: 400px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003233}}
  .l-hero .flexslider {
    padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003236}}
    .l-hero .flexslider .views-field-title {
      margin-top: -7em;
      position: relative;
      z-index: 1;
      color: #fff;
      text-align: center;
      font-weight: bold;
      padding-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003246}}
    .l-hero .flexslider .slide-title {
      text-transform: uppercase;
      opacity: 0.7; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003251}}
    .l-hero .flexslider .flex-control-nav {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003255}}
    .l-hero .flexslider .slide-title {
      font-size: 1.5em;
      text-shadow: 1px 1px 3px #000000;
      filter: dropshadow(color=black, offx=1, offy=1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003261}}
    .l-hero .flexslider .cta {
      margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003263}}
      .l-hero .flexslider .cta .button-action {
        display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003269}}
.l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title h2 {
  padding: 10% 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003273}}
.front .header-cta {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003277}}
.front .l-prefix {
  overflow: hidden;
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003279}}
  .front .l-prefix .block {
    margin: 0em 2em 1em;
    border: 1px solid #DDD;
    background: #fff;
    font-size: 0.95em;
    padding: 0 1em;
    text-align: right;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 1px #CCC;
    box-shadow: 1px 1px 3px 1px #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003291}}
    .front .l-prefix .block .block__content {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003295}}
    .front .l-prefix .block .prefix-button {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003302}}
    .front .l-prefix .block h2 {
      position: relative;
      text-align: right;
      padding-right: 2em;
      min-height: 80px;
      padding-left: 60%;
      font-size: 1.1em;
      padding-top: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003310}}
      .front .l-prefix .block h2 .fa {
        position: absolute;
        top: 2em;
        right: 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003318}}
  .front .l-prefix #block-block-6 {
    background: white url("/sites/default/files/stair1.jpg") bottom left no-repeat;
    background-size: contain; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003323}}
  .front .l-prefix #block-block-7 {
    background: white url("/sites/default/files/stair2.jpg") bottom left no-repeat;
    background-size: contain; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003328}}
  .front .l-prefix #block-block-8 {
    background: white url("/sites/default/files/stair3.jpg") bottom left no-repeat;
    background-size: contain; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003334}}
.l-main, .l-post-main {
  color: #666;
  padding: 0px 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003337}}
  .l-main a, .l-post-main a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003341}}
  .l-main .block .block__title, .l-post-main .block .block__title {
    background: white url("../../../images/gray1px.png") center left repeat-x; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003343}}
    .l-main .block .block__title .block-title-link, .l-post-main .block .block__title .block-title-link {
      background: #fff;
      padding: 0em 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003349}}
  .l-main .block .block__title a, .l-post-main .block .block__title a {
    color: #000;
    font-size: 0.9em;
    font-weight: 500; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003353}}
    .l-main .block .block__title a i, .l-post-main .block .block__title a i {
      color: #0777BD; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003359}}
.l-main {
  padding: 1em 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003361}}
  .l-main .block .views-field-title {
    padding-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003365}}
  .l-main .flex-control-paging {
    position: absolute;
    z-index: 4;
    top: 20em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003369}}
    .l-main .flex-control-paging li {
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003371}}
      .l-main .flex-control-paging li a {
        background-color: #0777BD; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003374}}
      .l-main .flex-control-paging li a.flex-active {
        background-color: #045B90; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003386}}
  .l-main #block-block-11 table {
    font-size: 0.8em;
    line-height: 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003389}}
    .l-main #block-block-11 table td {
      vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003392}}
    .l-main #block-block-11 table p {
      margin-left: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003396}}
    .l-main #block-block-11 table a {
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003403}}
  .l-main #block-views-clients-block-1 table {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003406}}
  .l-main #block-views-clients-block-1 .view-content {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003409}}
  .l-main #block-views-clients-block-1 img {
    padding: 1em 0.3em;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003416}}
  .l-main .view-quicklinks .views-column-2 {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003421}}
  .l-main .view-quicklinks .views-column .quicklink {
    overflow: hidden;
    *zoom: 1;
    font-size: 0.95em;
    padding: 1em 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003426}}
    .l-main .view-quicklinks .views-column .quicklink .quicklink-content {
      padding: 0em 1em;
      font-size: 0.85em;
      float: right;
      width: 70%;
      line-height: 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003432}}
      .l-main .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title {
        font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003434}}
        .l-main .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title h2 {
          margin: 0em 0em 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003443}}
    .l-main .view-quicklinks .views-column .quicklink i {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003447}}
    .l-main .view-quicklinks .views-column .quicklink .quicklink-image {
      width: 30%;
      float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003460}}
.l-content .view-selection-guide,
.l-content .view-gallery,
.l-content .view-inspiration-board {
  margin: 1em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003462}}
  .l-content .view-selection-guide .flag-message,
  .l-content .view-gallery .flag-message,
  .l-content .view-inspiration-board .flag-message {
    background: #0777BD;
    color: #fff;
    padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003467}}
  .l-content .view-selection-guide .view-filters .form-item,
  .l-content .view-gallery .view-filters .form-item,
  .l-content .view-inspiration-board .view-filters .form-item {
    float: left;
    padding-right: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003471}}
    .l-content .view-selection-guide .view-filters .form-item .selected a,
    .l-content .view-gallery .view-filters .form-item .selected a,
    .l-content .view-inspiration-board .view-filters .form-item .selected a {
      padding-bottom: 0.6em;
      border-bottom: 2px solid #0777BD; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003476}}
    .l-content .view-selection-guide .view-filters .form-item #edit-type-all,
    .l-content .view-gallery .view-filters .form-item #edit-type-all,
    .l-content .view-inspiration-board .view-filters .form-item #edit-type-all {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003481}}
  .l-content .view-selection-guide .pager,
  .l-content .view-gallery .pager,
  .l-content .view-inspiration-board .pager {
    border-top: 1px solid #CCC;
    text-align: right;
    padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003487}}
  .l-content .view-selection-guide .views-field-title,
  .l-content .view-gallery .views-field-title,
  .l-content .view-inspiration-board .views-field-title {
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003491}}
  .l-content .view-selection-guide .sep,
  .l-content .view-gallery .sep,
  .l-content .view-inspiration-board .sep {
    color: #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003495}}
  .l-content .view-selection-guide .views-exposed-form,
  .l-content .view-gallery .views-exposed-form,
  .l-content .view-inspiration-board .views-exposed-form {
    padding-top: 20px;
    border-bottom: 1px solid #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003500}}
  .l-content .view-selection-guide td,
  .l-content .view-gallery td,
  .l-content .view-inspiration-board td {
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003503}}
  .l-content .view-selection-guide .views-field-field-element-image,
  .l-content .view-gallery .views-field-field-element-image,
  .l-content .view-inspiration-board .views-field-field-element-image {
    margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003506}}
  .l-content .view-selection-guide img,
  .l-content .view-gallery img,
  .l-content .view-inspiration-board img {
    border: 1px solid #DDD; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003509}}
  .l-content .view-selection-guide .col-1 img,
  .l-content .view-gallery .col-1 img,
  .l-content .view-inspiration-board .col-1 img {
    margin-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003513}}
  .l-content .view-selection-guide .views-field-field-element-description,
  .l-content .view-gallery .views-field-field-element-description,
  .l-content .view-inspiration-board .views-field-field-element-description {
    width: 93%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003518}}
.l-content p:first-child {
  font-weight: 500;
  font-size: 1.1em;
  color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003525}}
.l-content .field--name-field-gallery-images .field__item {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003530}}
.l-content .node ul {
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003532}}
  .l-content .node ul li {
    margin: 0em 0em;
    border-bottom: 1px solid #CCC;
    padding: 1em 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003537}}
  .l-content .node ul li:before {
    content: "\2023 \0020";
    color: #0777BD;
    padding-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003544}}
.l-content blockquote {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  font-size: 1.5em;
  line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003549}}
  .l-content blockquote :before {
    content: "\201C \0020";
    font-size: 3em;
    color: #0777BD; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003563}}
h1 {
  color: #3F3F41; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003567}}
.front .l-title h1 {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003572}}
.not-front .l-title {
  padding: 0px 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003577}}
h2 {
  color: #0777BD; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003584}}
.l-main a:link,
.l-post-main a:link,
.l-main a:visited,
.l-post-main a:visited {
  color: #0777BD; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003588}}
.button {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=black, offx=1, offy=1); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003598}}
.l-footer-wrap {
  line-height: 1.6em;
  background: #0777BD;
  color: #fff;
  font-size: 0.9em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003603}}
  .l-footer-wrap h2 {
    color: #fff;
    font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003607}}
  .l-footer-wrap ul {
    list-style: none;
    list-style-image: none;
    padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003613}}
  .l-footer-wrap a:link, .l-footer-wrap a:visited {
    color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003617}}
  .l-footer-wrap .button {
    width: 100%;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003622}}
  .l-footer-wrap .fa-chevron-right {
    float: right;
    margin-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003627}}
  .l-footer-wrap .l-footer-first {
    padding-top: 20px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003632}}
  .l-footer-wrap .l-footer-forth {
    padding: 0em 1em 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003637}}
  .l-footer-wrap .l-footer-second, .l-footer-wrap .l-footer-third {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003640}}
  .l-footer-wrap .footer-left {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003643}}
  .l-footer-wrap .footer-right {
    float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003648}}
.l-post-main {
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003650}}
  .l-post-main .block h2 {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003654}}
  .l-post-main .view-clients .views-field {
    padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003658}}
  .l-post-main .flexslider {
    width: 85%;
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003666}}
.l-post-main .flexslider .flex-direction-nav a,
.l-post-main .flexslider .flex-direction-nav a, .l-post-footer .flexslider .flex-direction-nav a,
.l-post-footer .flexslider .flex-direction-nav a {
  display: block;
  /* I added this line */
  padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003671}}
.l-post-main .flex-direction-nav .flex-next, .l-post-footer .flex-direction-nav .flex-next {
  right: 0 !important;
  margin-right: -50px;
  opacity: 1 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003672}}
.l-post-main .flex-direction-nav .flex-prev, .l-post-footer .flex-direction-nav .flex-prev {
  left: 0 !important;
  opacity: 1 !important;
  margin-left: -50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003676}}
.l-post-footer-wrap {
  background: #3F3F41; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003681}}
.l-post-footer .flexslider {
  width: 75%;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003685}}
.l-post-footer .flex-direction-nav a:before {
  color: #FEFEFE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003688}}
.l-post-footer .block {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003695}}
.l-post-footer #block-block-9,
.l-post-footer #block-views-inspiration-board-block,
.l-post-footer #block-block-5 {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/asim\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.just_stairs\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-post-footer #block-block-9:after,
  .l-post-footer #block-views-inspiration-board-block:after,
  .l-post-footer #block-block-5:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003700}}
.l-post-footer #block-block-9, .l-post-footer #block-block-5 {
  padding: 0em;
  color: #FFF;
  font-weight: bold;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003708}}
.l-post-footer .view-inspiration-board .views-field {
  padding: 0px 20px 0px 0px;
  color: #AAA;
  font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003713}}
  .l-post-footer .view-inspiration-board .views-field .flag-throbber {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003717}}
  .l-post-footer .view-inspiration-board .views-field .flag-wrapper a {
    background: url("../../../images/icon-close.png") top right no-repeat;
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 25px;
    padding-left: 24px;
    margin-bottom: -24px;
    margin-left: 93px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003729}}
.l-post-footer .view-inspiration-board .view-empty {
  color: #fff;
  text-align: center;
  padding: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003733}}
  .l-post-footer .view-inspiration-board .view-empty a {
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003741}}
.l-post-footer .flex-control-nav {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003746}}
.l-post-footer .flex-direction-nav .flex-prev, .l-post-footer .flex-direction-nav .flex-next {
  display: block; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003761}}
  .l-page {
    font-size: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003770}}
  .l-header,
  .l-main,
  .l-post-main,
  .l-footer,
  .l-post-footer,
  .l-hero {
    max-width: 1190px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003779}}
  .l-hero .view-quicklinks .views-column .quicklink {
    font-size: 0.95em;
    min-height: 20em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003784}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-content {
      font-size: 0.85em;
      float: none;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003788}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-body {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003792}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-content i {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003797}}
    .l-hero .view-quicklinks .views-column .quicklink a.button {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003801}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-image {
      width: 100%;
      float: none;
      position: absolute;
      bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003808}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-title {
      padding: 0em !important;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003811}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-title h2 {
        padding: 0em !important;
        margin: 1em 0em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003820}}
  .l-hero .flexslider .views-field-title {
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003823}}
  .l-hero .slide-title {
    font-size: 1.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003826}}
  .l-hero .cta .button-action {
    display: inline-block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003830}}
  .l-hero #block-block-10 {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003835}}
  .l-hero .view-quicklinks .views-column-1, .l-hero .view-quicklinks .views-column-2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003838}}
  .l-hero .view-quicklinks .views-column-3 {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003845}}
  .front .l-prefix .prefix-button {
    display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003848}}
  .front .l-prefix .block {
    min-height: 350px;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003851}}
    .front .l-prefix .block .block__content {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003855}}
  .front .l-prefix h2 {
    position: relative;
    text-align: left !important;
    padding-right: 0em !important;
    min-height: 1em !important;
    padding-left: 0em !important;
    font-size: 1.4em !important;
    padding-top: 0em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003863}}
    .front .l-prefix h2 .fa {
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003869}}
  .not-front .header-cta {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003873}}
  .l-branding {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003878}}
  .l-prefix-first,
  .l-prefix-second {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003882}}
  .l-prefix-third {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003889}}
  .l-content .views-responsive-grid .views-column-first {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003893}}
  .l-content .views-responsive-grid .views-column-last {
    width: 49.15254%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003899}}
  .l-footer-wrap {
    font-size: 0.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003903}}
  .l-footer {
    padding-top: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003909}}
  .l-footer-first,
  .l-footer-second,
  .l-footer-third {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003914}}
  .l-footer-first {
    padding-top: 80px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003919}}
  .l-footer-second .block,
  .l-footer-third .block {
    padding: 0em 3em;
    border-right: 1px solid #2995D6;
    min-height: 15em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003925}}
  .l-footer-forth {
    width: 23.72881%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003930}}
  .l-post-footer #block-block-9 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003933}}
  .l-post-footer #block-views-inspiration-board-block {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003936}}
  .l-post-footer #block-block-5 {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003940}}
  .l-post-footer #block-block-9, .l-post-footer #block-block-5 {
    padding: 2em 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003945}}
  .l-footer-second, .l-footer-third {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003949}}
  .l-region--header {
    width: 74.57627%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003952}}
  .l-region--navigation {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003956}}
  .has-sidebar-first {
    padding-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003961}}
  .has-sidebar-second .l-content {
    padding-right: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003969}}
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003973}}
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003976}}
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003983}}
  .l-page {
    font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003992}}
  .l-header,
  .l-main,
  .l-post-main,
  .l-footer,
  .l-post-footer,
  .l-hero {
    max-width: 1190px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\00003998}}
  .l-header #block-block-12 {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031003}}
  .l-branding {
    width: 20.16807%;
    float: left;
    margin-right: 0.84034%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031008}}
  .l-hero .slide-title {
    font-size: 2em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031011}}
  .l-hero .cta .button-action {
    display: inline-block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031015}}
  .not-front .header-cta {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031019}}
  .l-region--header {
    width: 78.9916%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031025}}
  .l-hero .view-quicklinks .views-column-1, .l-hero .view-quicklinks .views-column-2 {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031028}}
  .l-hero .view-quicklinks .views-column-3 {
    width: 32.77311%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031035}}
  .l-prefix-first,
  .l-prefix-second {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031039}}
  .l-prefix-third {
    width: 32.77311%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031045}}
  .l-content .views-responsive-grid .views-column-first {
    width: 49.57983%;
    float: left;
    margin-right: 0.84034%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031049}}
  .l-content .views-responsive-grid .views-column-last {
    width: 49.57983%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031055}}
  .l-footer-wrap {
    font-size: 0.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031061}}
  .l-footer-first,
  .l-footer-second,
  .l-footer-third {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031065}}
  .l-footer-first {
    padding-top: 80px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031069}}
  .l-footer-forth {
    width: 24.36975%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031073}}
  .l-footer-second, .l-footer-third {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031078}}
  .l-post-footer #block-block-9 {
    width: 20.16807%;
    float: left;
    margin-right: 0.84034%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031081}}
  .l-post-footer #block-views-inspiration-board-block {
    width: 57.98319%;
    float: left;
    margin-right: 0.84034%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031084}}
  .l-post-footer #block-block-5 {
    width: 20.16807%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031087}}
  .l-post-footer #block-block-9, .l-post-footer #block-block-5 {
    padding: 2em 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031093}}
  .has-sidebar-first .l-content {
    width: 74.78992%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031096}}
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031101}}
  .has-sidebar-second .l-content {
    width: 74.78992%;
    float: left;
    margin-right: 0.84034%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031104}}
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.36975%;
    float: right;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031111}}
  .has-two-sidebars .l-content {
    width: 49.57983%;
    float: left;
    margin-right: 0.84034%;
    margin-left: 25.21008%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031116}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031119}}
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.63025%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/abc\.scss\.old\.scss}line{font-family:\000031122}}
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
