/*******************************************************************************
 * allround.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@font-face {
  font-family: "Open Sans";
  src: url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.eot);
  src: url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.eot?#iefix) format('eot'), url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(/sites/all/themes/just_stairs/fonts/OpenSans-Regular-webfont.svg) format('svg'); }

@font-face {
  font-family: "Candara";
  src: url(/sites/all/themes/just_stairs/fonts/candara-webfont.eot);
  src: url(/sites/all/themes/just_stairs/fonts/candara-webfont.eot?#iefix) format('eot'), url(/sites/all/themes/just_stairs/fonts/candara-webfont.woff) format('woff'), url(/sites/all/themes/just_stairs/fonts/candara-webfont.ttf) format('truetype'), url(/sites/all/themes/just_stairs/fonts/candara-webfont.svg) format('svg'); }

@font-face {
  font-family: "Lato Black";
  src: url(/sites/all/themes/just_stairs/fonts/lato/lato-bla-webfont.eot);
  src: url(/sites/all/themes/just_stairs/fonts/lato/lato-bla-webfont.eot?#iefix) format('eot'), url(/sites/all/themes/just_stairs/fonts/lato/lato-bla-webfont.woff) format('woff'), url(/sites/all/themes/just_stairs/fonts/lato/lato-bla-webfont.ttf) format('truetype'), url(/sites/all/themes/just_stairs/fonts/lato/lato-bla-webfont.svg) format('svg'); }

@font-face {
  font-family: "Lato";
  src: url(/sites/all/themes/just_stairs/fonts/lato/lato-reg-webfont.eot);
  src: url(/sites/all/themes/just_stairs/fonts/lato/lato-reg-webfont.eot?#iefix) format('eot'), url(/sites/all/themes/just_stairs/fonts/lato/lato-reg-webfont.woff) format('woff'), url(/sites/all/themes/just_stairs/fonts/lato/lato-reg-webfont.ttf) format('truetype'), url(/sites/all/themes/just_stairs/fonts/lato/lato-reg-webfont.svg) format('svg'); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000319}}
.l-header,
.l-main,
.l-post-main,
.l-post-footer,
.l-hero {
  *zoom: 1;
  max-width: 1120px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/asim\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.just_stairs\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after,
  .l-main:after,
  .l-post-main:after,
  .l-post-footer:after,
  .l-hero:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000323}}
.site-logo {
  padding-left: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000330}}
.l-post-footer #block-block-9,
.l-post-footer #block-views-inspiration-board-block,
.l-post-footer #block-block-5 {
  *zoom: 1;
  max-width: 1120px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-right: 5.26316%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/asim\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.just_stairs\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-post-footer #block-block-9:after,
  .l-post-footer #block-views-inspiration-board-block:after,
  .l-post-footer #block-block-5:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000335}}
.l-branding {
  padding: 26px 0 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000340}}
.l-hero-wrap {
  background: url("../../../images/header-bg.png") repeat;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000347}}
  .l-hero-wrap .l-hero-inner img {
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000356}}
.l-footer {
  *zoom: 1;
  max-width: 1120px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/asim\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.just_stairs\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000363}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000366}}
.l-hero {
  padding-left: 0;
  padding-right: 0; }

/*///////////////////////////////////////////////*/
/*////////    BREAK POINT FOR   Mobile ////////////*/
/*///////////////////////////////////////////////*/
@media (max-width: 43em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000376}}
  .l-hero .view-quicklinks .views-column
  .quicklink .quicklink-content .quicklink-title {
    display: table-cell; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000380}}
  .post-links {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000382}}
    .post-links li {
      display: block;
      border-right: none;
      border-bottom: 1px solid #aeaeae; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000391}}
  .l-content .view-selection-guide .view-filters .form-item,
  .l-content .view-gallery .view-filters .form-item,
  .l-content .view-inspiration-board .view-filters .form-item {
    margin-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000396}}
  .l-content .view-selection-guide .view-filters .form-item .selected a,
  .l-content .view-gallery .view-filters .form-item .selected a,
  .l-content .view-inspiration-board .view-filters .form-item .selected a {
    padding-bottom: 0.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\0000399}}
  .button {
    padding: 0 13px;
    font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003103}}
  .l-post-footer .flexslider {
    width: 74%;
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003107}}
  .l-main, .l-post-main, .l-post-footer, .l-footer {
    padding-left: 20px;
    padding-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003112}}
  .l-header,
  .l-hero {
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003115}}
  .l-post-footer #block-block-9, .l-post-footer #block-views-inspiration-board-block, .l-post-footer #block-block-5 {
    padding-left: 64px;
    padding-right: 64px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003119}}
  .l-post-footer .view-inspiration-board .views-field {
    padding: 0px 0 0px 0px;
    color: #AAA;
    font-size: 0.8em;
    margin: 0 -1px 0 17px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003125}}
  .view-clients .slides li {
    width: 108px !important; } }
/*///////////////////////////////////////////////*/
/*////////    BREAK POINT FOR   T A B  ////////////*/
/*///////////////////////////////////////////////*/
@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003140}}
  .l-page {
    font-size: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003149}}
  .l-header,
  .l-main,
  .l-post-main,
  .l-footer,
  .l-post-footer,
  .l-hero {
    max-width: 1120px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003153}}
  .site-logo {
    padding-left: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003156}}
  .l-branding {
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003159}}
  .l-region--header {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003161}}
    .l-region--header .block--superfish {
      float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003166}}
  .l-hero .l-title-inner {
    padding-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003171}}
  .l-hero .view-quicklinks .views-column .quicklink {
    margin-bottom: 3.3em;
    font-size: 0.95em;
    min-height: 20em;
    overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003177}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-content {
      font-size: 0.85em;
      float: none;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003181}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-body {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003184}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-content i {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003189}}
    .l-hero .view-quicklinks .views-column .quicklink a.button {
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      bottom: -3.2em;
      right: 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003198}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-image {
      width: 100%;
      float: none;
      position: absolute;
      bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003205}}
    .l-hero .view-quicklinks .views-column .quicklink .quicklink-title {
      padding: 0em !important;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003208}}
      .l-hero .view-quicklinks .views-column .quicklink .quicklink-title h2 {
        padding: 0em !important;
        margin: 1em 0em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003217}}
  .l-hero .flexslider .views-field-title {
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003220}}
  .l-hero .slide-title {
    font-size: 1.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003223}}
  .l-hero .cta .button-action {
    display: inline-block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003227}}
  .l-hero #block-block-10 {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003232}}
  .l-hero .view-quicklinks .views-column-1, .l-hero .view-quicklinks .views-column-2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003235}}
  .l-hero .view-quicklinks .views-column-3 {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003242}}
  .front .l-prefix .prefix-button {
    display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003245}}
  .front .l-prefix .block {
    min-height: 350px;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003248}}
    .front .l-prefix .block .block__content {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003252}}
  .front .l-prefix h2 {
    position: relative;
    text-align: left !important;
    padding-right: 0em !important;
    min-height: 1em !important;
    padding-left: 0em !important;
    font-size: 1.4em !important;
    padding-top: 0em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003260}}
    .front .l-prefix h2 .fa {
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003266}}
  .not-front .header-cta {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003271}}
  .l-prefix-first,
  .l-prefix-second {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003275}}
  .l-prefix-third {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003280}}
  .l-footer-wrap {
    font-size: 0.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003284}}
  .l-footer {
    padding-top: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003290}}
  .l-footer-first,
  .l-footer-third {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003294}}
  .l-footer-second {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003298}}
  .l-footer-first {
    padding-top: 80px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003303}}
  .l-footer-second .block,
  .l-footer-third .block {
    padding: 0em 3em;
    border-right: 1px solid #2995D6;
    min-height: 15em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003309}}
  .l-footer-forth {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003314}}
  .l-post-footer #block-block-9 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003317}}
  .l-post-footer #block-views-inspiration-board-block {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003320}}
  .l-post-footer #block-block-5 {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003324}}
  .l-post-footer #block-block-9, .l-post-footer #block-block-5 {
    padding: 2em 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003329}}
  .l-footer-second, .l-footer-third {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003333}}
  .l-region--navigation {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003337}}
  .has-sidebar-first {
    padding-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003342}}
  .has-sidebar-second .l-content {
    padding-right: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003350}}
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003354}}
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003357}}
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003365}}
  .res-two-col .views-column-first {
    width: 49.53271%;
    float: left;
    margin-right: 0.93458%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003369}}
  .res-two-col .views-column-last {
    width: 49.53271%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003374}}
  .res-three-col .views-field-field-gallery-images {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003377}}
  .res-three-col .views-row-last {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003380}}
  .res-three-col .views-column-1 {
    width: 32.71028%;
    float: left;
    margin-right: 0.93458%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003384}}
  .res-three-col .views-column-2 {
    width: 32.71028%;
    float: left;
    margin-right: 0.93458%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003387}}
  .res-three-col .views-column-3 {
    width: 32.71028%;
    float: right;
    margin-right: 0; } }
/*///////////////////////////////////////////////*/
/*////////    BREAK POINT FOR DESKTOP ////////////*/
/*///////////////////////////////////////////////*/
@media (min-width: 57em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003398}}
  .l-page {
    font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003407}}
  .l-header,
  .l-main,
  .l-post-main,
  .l-footer,
  .l-post-footer,
  .l-hero {
    max-width: 1120px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003413}}
  .l-header #block-block-12 {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003418}}
  .l-hero {
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003420}}
    .l-hero .slide-title {
      font-size: 2em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003423}}
    .l-hero .cta .button-action {
      display: inline-block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003427}}
  .not-front .header-cta {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003434}}
  .l-hero .view-quicklinks .views-column .quicklink {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003438}}
  .l-hero .view-quicklinks .views-column-1, .l-hero .view-quicklinks .views-column-2 {
    width: 33.02326%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003441}}
  .l-hero .view-quicklinks .views-column-3 {
    width: 33.02326%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003444}}
  .l-hero .view-quicklinks .views-column .quicklink a.button {
    max-width: 85%;
    bottom: 1em;
    right: 1em;
    padding-left: 10px;
    padding-right: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003451}}
    .l-hero .view-quicklinks .views-column .quicklink a.button i {
      display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003460}}
  .l-prefix-first,
  .l-prefix-second {
    width: 33.02326%;
    float: left;
    margin-right: 0.46512%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003464}}
  .l-prefix-third {
    width: 33.02326%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003470}}
  .l-content .res-two-col .views-column-first {
    width: 49.76744%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003474}}
  .l-content .res-two-col .views-column-last {
    width: 49.76744%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003479}}
  .l-content .res-three-col .views-column-1 {
    width: 33.02326%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003483}}
  .l-content .res-three-col .views-column-2 {
    width: 33.02326%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003486}}
  .l-content .res-three-col .views-column-3 {
    width: 33.02326%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003492}}
  .l-footer-wrap {
    font-size: 0.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003498}}
  .l-footer-first,
  .l-footer-third {
    width: 20.46512%;
    float: left;
    margin-right: 0.46512%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003501}}
  .l-footer-second {
    width: 16.27907%;
    float: left;
    margin-right: 0.46512%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003505}}
  .l-footer-first {
    padding-top: 80px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003509}}
  .l-footer-forth {
    width: 37.2093%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003513}}
  .l-footer-second, .l-footer-third {
    display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003518}}
  .l-post-footer #block-block-9 {
    width: 20.46512%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003521}}
  .l-post-footer #block-views-inspiration-board-block {
    width: 58.13953%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003524}}
  .l-post-footer #block-block-5 {
    width: 20.46512%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003527}}
  .l-post-footer #block-block-9, .l-post-footer #block-block-5 {
    padding: 2em 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003533}}
  .has-sidebar-first .l-content {
    width: 74.88372%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003536}}
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.65116%;
    float: left;
    margin-right: 0.46512%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003541}}
  .has-sidebar-second .l-content {
    width: 74.88372%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003544}}
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.65116%;
    float: right;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003551}}
  .has-two-sidebars .l-content {
    width: 49.76744%;
    float: left;
    margin-right: 0.46512%;
    margin-left: 25.11628%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003556}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.65116%;
    float: left;
    margin-right: 0.46512%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003559}}
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.34884%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/layouts\/allround\/allround\.layout\.scss}line{font-family:\00003562}}
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
