@import 'partials/buttons';

a.button {
	font-family: 'Candara';
	font-size: 16px;
	text-shadow: 1px 1px 2px rgba(63, 63, 63, 0.6);
	letter-spacing: 0.03em;
}
.flexslider a.button {
	height: initial;
	padding: 2px 13px;
}

.view-quicklinks {
	a.button {
		height: 36px;
		line-height: 34px;
		font-size: 14px;
	}
}

.fa {
	color: rgba(0,0,0, .4);
	text-shadow: none;
}

.fa-th {
	color: white;

}