

.l-main, .l-post-main {
  color: #666;
  padding:0px $horz-spacing-unit;
  a {
    text-decoration: none;
  }

  .block .block__title {
    background: #fff image-url('gray1px.png') center left repeat-x;
    .block-title-link {
      background: #fff;
      padding: 0em;
    }
  }

  .block .block__title a {
    color:#000;
    font-size: 0.9em;
    font-weight: 500;
    i {
      color:#39A1DE;
    }
  }
}

.l-main {
  padding:1em 2em;
  .block .views-field-title {
    padding-top:1em;
  }

  // services block
  #block-block-11 {
    table {
      font-size:0.8em;
      line-height: 1.3em;
      td {
        vertical-align: top;
      }
      p {
        margin-left:1em;
      }

      a {
        font-weight: bold;
      }
    }
  }
  // clients grid block
  #block-views-clients-block-1 {
    table {
      width:100%;
    }
    .view-content {
      text-align: center;
    }
    img {
      padding:1em 0.3em;
      vertical-align: middle;
    }
  }

  .view-quicklinks {
    .views-column-2 {
      border-top:1px solid #CCC;
      border-bottom:1px solid #CCC;
    }
    .views-column {
      .quicklink {
        @include clearfix;
        font-size:0.95em;
        padding:1em 0em;
        //min-height: 4em;
        .quicklink-content {
          padding: 0em 1em;
          font-size:0.85em;
          float:right;
          width:70%;
          line-height: 1.3em;
          .quicklink-title {
            font-size:0.7em;
            h2 {
              margin: 0em 0em 0.5em;
            }
          }
          .quicklink-body {

          }
        }

        i {
          display: none;
        }

        .quicklink-image {
          width:30%;
          float:left;
        }
      }
    }
  }
}

.l-content {

  .view-selection-guide,
  .view-gallery,
  .view-inspiration-board {
    margin: 1em 0;
    .flag-message {
      background: #0777BD;
      color: #fff;
      padding: 1em;
    }
    .view-filters .form-item {
      float:left;
      padding-right: (2 * $horz-spacing-unit);

      .selected a {
        padding-bottom: (0.6 * $horz-spacing-unit);
        border-bottom: 2px solid #0777BD;
        color: #9c9c9c;
      }
      .bef-select-as-links {
        font-size: 18px;

      }
      #edit-type-all {
        display: none;
      }
    }

    .pager {
      border-top: 1px solid #CCC;
      text-align: right;
      padding-top: $vert-spacing-unit;
    }

    .views-field-title {
      font-weight: bold;
      font-family: 'Candara';
      font-size: 18px;
      color: #555;
      margin-top: -8px;
      margin-bottom: 5px;
    }

    .sep {
      color: #999;
    }

    .views-exposed-form {
      padding-top: $vert-spacing-unit;
      border-bottom:1px solid #CCC;
    }

    td {
      vertical-align: top;
    }
    .views-field-field-element-image {
      margin-top: $vert-spacing-unit;
    }
    img {
      border:1px solid #DDD;
    }
    .col-1 img {
      margin-right: $horz-spacing-unit;

    }
    .views-field-field-element-description {
      width: 93%;
    }
  }

  p:first-child {
    font-family: 'Candara';
    font-weight: bold;
    font-size: 24px;
    color: #6b6b6b;
    line-height: 35px;
  }
  h2,h1,h3,p {
    clear: both;
  }
  
  p img {
    float: left;
    margin-right: 1.0em;
    margin-top: 0.375em;
    margin-bottom: 0.5em;
  }

  .field--name-field-gallery-images {
    .field__item {
      float:left;
    }
  }

  .node--page ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 1em;
    li {
      border-bottom:1px solid #CCC;
      margin-bottom: 1em;
      padding-bottom: 1em;
      text-indent: -1.3em;
    }
    li:before {
      content: "\2023 \0020";
      color: #0777BD;
      position:relative;
      left: -0.4em;
      font-size: 2em;
      top:0.2em;
    }
  }

  blockquote {
    clear: both;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0px;
    background: image-url('quote.png') no-repeat;
    background-position: 0px 29px;

    p {
      margin-left: 60px;
      color: #706E6E;
      font-style: italic;
      font-weight: 400 !important;
    }
  }
  
  h3 {
    color: #000;
    font-weight: 800;
  }

  h3 + p {
    font-weight: 800;
    
    line-height: 1.6em;
  }


}

