

.l-footer-wrap {
  line-height: 1.0em;
  background: #0777BD;
  color:#c2e5fa;
  font-size: 0.9em;
  h2 {
    color:#fff;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2em;
  }
  ul {
    list-style: none;
    list-style-image: none;
    padding: 0px;
    padding-top: 6px;
    overflow: hidden;
    a:link, a:visited {
      color:#c2e5fa;
      padding: 0.5em 0;
    }

  }
  p {
    line-height: 1.0em;
    margin: 0.7em  0;
    strong {
      color: #fff;
    }

  }
  

  .button {
    width:100%;
    text-align: left;
  }

  .fa-chevron-right {
    float:right;
    margin-top:0.8em;
  }

  .l-footer-first {
    padding-top: $vert-spacing-unit;
    text-align: center;
  }

  .l-footer-forth {
    padding: 0em 2em 20px 1em;

  }

  .l-footer-second, .l-footer-third {
    display:none;
  }
  .footer-left {
    float:left;
  }
  .footer-right {
    float:right;
  }
}

.l-post-main {
  overflow: hidden;
  .block h2 {
    text-align: center;
  }
  .view-clients {
    .views-field {
      padding:1em;
    }
  }
  .flexslider {
    width: 78%;
    margin: 0 auto;
  }
}

.l-post-main, .l-post-footer {
  .flexslider .flex-direction-nav a,
  .flexslider .flex-direction-nav a {
  display: block; /* I added this line */
  padding:1em;
  }

  .flex-direction-nav .flex-next { right: 0 !important; margin-right: -50px; opacity: 1 !important; }
  .flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: -50px; }

}

.l-post-footer-wrap {
  background: #3F3F41;
}

.l-post-footer {
  .flexslider {
    width: 83%;
    margin: 0 auto;
    .slides {
     li {
        line-height: 1.0em;
        font-size: 13px;
        width: 125px;
        float:left;
        list-style: none;
        img {
            width: 100%;
            padding-bottom: 3px;
        }

      } 
    }
  }
  .flex-direction-nav a:before {
    color:#FEFEFE;
  }
  .block {
    float:left;
  }

  

  #block-block-9, #block-block-5 {
    padding:0em;
    color:#FFF;
    font-weight: bold;
    text-align: center;
  }

  .view-inspiration-board {
    .views-field {
      padding: 0px 20px 0px 0px;
      color: #AAA;
      font-size: 0.8em;

      .flag-throbber {
        display: none;
      }

      .flag-wrapper a {
        //text-indent: -9999px;
        background: image-url('icon-close.png') top right no-repeat;
        display: inline-block;
        overflow: hidden;
        width: 0;
        height: 25px;
        padding-left: 18px;
        margin-bottom:-24px;
        margin-left:93px;
      }
    }
    .view-empty {
      color:#fff;
      text-align: center;
      padding:2em;
      a {
        color:#fff;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .flex-control-nav {
    display: none;
  }

  .flex-direction-nav {
      .flex-prev, .flex-next {
      display: block;
    }
  }

}



