
.flexslider {
  border:none;
  background: none;
  border-radius: none;
  box-shadow: none;
  margin: auto; 
}

.flex-direction-nav a:before {
  font-size: 23px !important;
      text-shadow: 1px 1px 2px #000000;
      filter: dropshadow(color=#000000, offx=1, offy=1);
}

.l-header {
  #block-block-12 {
    float:right;
    display: none;
    font-weight: bold;
    padding:0em 1em;
    border-left:1px solid #CCC;
    margin-top:25px;
    p {
      margin-top:0.4em;
    }
    a {
      color: #0777BD;
      text-decoration: none;
    }
  }
}

.l-hero,
.l-post-footer {
  margin:auto;
}


.l-hero {
  position: relative;
  @include clearfix;
  padding:0px;

  .view-quicklinks {
    .views-column {
      .quicklink {
        @include clearfix;
        margin:1em 1em;
        border:1px solid #DDD;
        background: #fff;
        font-size:0.95em;
        //min-height: (18 * $vert-spacing-unit);
        position: relative;
        -webkit-box-shadow:  1px 1px 3px 1px #CCC;
        box-shadow:  1px 1px 3px 1px #CCC;
        min-height: 5em;
        max-height: 7em;
        overflow: hidden;
        .quicklink-content {
          padding: 0em 1em;
          font-size:0.85em;
          float:right;
          width:50%;
          display: table;
          .quicklink-title {
            font-size:0.8em;
            padding:0em 1em 0em 0em;
              
              vertical-align: middle;
            h2 {
              //padding:0em 0em 0em;
              padding:20% 0em;
              margin: 0em;

            }
            i {
              position: absolute;
              right: 5px;
              top: 43%;
            } 
          }
          .quicklink-body {
            display:none;
          }
        }

        a.button {
          position: absolute;
          bottom:1em;
          right: 1em;
          z-index: 4;
          display:none;
        }

        i {


        }

        .quicklink-image {
          margin-bottom: -0.5em;
          width:50%;
          float:left;

        }
      }
    }
  }

  .header-cta {
    float:right;
    padding:1.8em 1em;
    display:none;
  }
  .l-title-inner {
    float:left;
    padding-top:1em;
    padding-left:1em;
    text-transform: uppercase;
  }

  #block-block-10 {
    @include clearfix;
    z-index: 4;
    text-align: center;
    background: #0777BD;
    width:100%;
    opacity: 0.8;
    margin-bottom:-4em;
    color:#fff;
    font-weight: bold;
    font-size: 1.1em;
    position:relative;
  }

  img {
    width:100%;
    
  }

  .flexslider {
    padding-bottom: (2 * $vert-spacing-unit);

    .views-field-title {
      margin-top: -7em;
      position: relative;
      z-index: 1;
      color:#fff;
      text-align: center;
      font-weight: bold;
      padding-right: $horz-spacing-unit;
    }

    .slide-title {
      text-transform: uppercase;
      opacity:1;
    }

    .flex-control-nav {
      display:none;
    }

    .slide-title {
      font-size: 1.5em;
      text-shadow: 1px 1px 3px #000000;
      filter: dropshadow(color=#000000, offx=1, offy=1);
    }

    .cta {
      margin-top: $vert-spacing-unit;
      .button-action {
        display:none;
      }
    }
  }
}
.l-hero .view-quicklinks .views-column .quicklink .quicklink-content .quicklink-title h2 {
  padding: 10% 0;
}

.front .l-title h1 {
  display:none;
}

.not-front {
  .l-title {
    padding:0;
  }
}

.front .header-cta {
  display:none;
}

.front .l-prefix {
  @include clearfix;
  .block {
    margin:0em 2em 1em;
    border:1px solid #DDD;
    background: #fff;
    font-size:0.95em;
    padding: 0 1em;
    //min-height: (18 * $vert-spacing-unit);
    text-align: right;
    position: relative;
    -webkit-box-shadow:  1px 1px 3px 1px #CCC;
    box-shadow:  1px 1px 3px 1px #CCC;

    .block__content {
      display:none;
    }

    .prefix-button {
      display: none;
      position: absolute;
      bottom:10px;
      right: 10px;
    }

    h2 {
      position: relative;
      text-align: right;
      padding-right:2em;
      min-height: (4 * $vert-spacing-unit);
      padding-left:60%;
      font-size: 1.1em;
      padding-top:0.5em;
      .fa {
        position: absolute;
        top: 2em;
        right:0em;
      }
    }
  }

  #block-block-6 {
    background: #fff url('/sites/default/files/stair1.jpg') bottom left no-repeat;
    background-size: contain;
  }

  #block-block-7 {
    background: #fff url('/sites/default/files/stair2.jpg') bottom left no-repeat;
    background-size: contain;
  }

  #block-block-8 {
    background: #fff url('/sites/default/files/stair3.jpg') bottom left no-repeat;
    background-size: contain;
  }
}