.post-links {
	list-style: none;
	padding-left: 0px;
	li {
		display: inline-block;
		padding-right: 15px;
		border-right: 1px solid #aeaeae;
		margin-right: 10px;
		font-weight: bold;
		padding-bottom: 5px;
		margin-bottom: 4px;
	}
	li:last-child {
		border-right: none;
		border-bottom: none;
	}
}

