a {
	text-decoration: none;
	color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Candara';
}

h1 {
  color: #3F3F41;

}



h2 {
  color: #0777BD;
  font-size: 1.7em;
}

.l-main a:link,
.l-post-main a:link,
.l-main a:visited,
.l-post-main a:visited {
  color: #0777BD;
  font-family: 'Candara';
  font-weight: bold;
}

.button {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}


.l-main a.button:link,
.l-post-main a.button:link,
.l-main a.button:visited,
.l-post-main a.button:visited {
		color: #fff;
}

