/** Front Page Gallery Block  **/
.view-gallery {
	.views-field-title a:link,
	.views-field-title a:visited {
		color: #000;
	}
	.flexslider {
		position: relative;
	}
	.flex-control-nav {
		position: absolute;
		bottom: 10px;
		text-align: right;
		padding-right:0px;
		z-index: 20;
	}
	.flex-control-paging li a {
		text-indent: 9999px;
		direction: rtl;

	}
	
}
/** GENERAL FLEX SLIDER NAV COLORS **/
.flex-direction-nav a.flex-next:before ,
.flex-direction-nav a.flex-prev:before {
 	content:'';
}
.flex-direction-nav a.flex-next {
	position: absolute;
	top:47%;
	right: -10px;
 	background: image-url('slider-arrows.png') no-repeat -16px 0px;

 }
 .flex-direction-nav a.flex-prev {
 	position: absolute;
 	top:47%;
	left: -10px;
 	background: image-url('slider-arrows.png') no-repeat 26px 0px;

 }
.flex-control-paging li a {
	background: #A8CEE3;
}
.flex-control-paging li a.flex-active {
	background: #0776C5;
}
/** Footer Clients Logo Slide **/
.view-inspiration-board {
	.views-field-field-client-logo {
		display:table;
		height: 100px;
	    .field-content {
	       display: table-cell;
	       vertical-align: middle;
	    }
	  }
	 .flex-direction-nav a.flex-next:before ,
	 .flex-direction-nav a.flex-prev:before {
	 	content:'';
	 }
	 .flex-direction-nav a.flex-next {
	 	background: image-url('white-arrows.png') no-repeat -11px 11px;

	 }
	 .flex-direction-nav a.flex-prev {
	 	background: image-url('white-arrows.png') no-repeat 29px 11px;

	 }
 }

 .pager {
 	margin-top: 1em;
 }
 .view-content {
 	overflow: hidden;
 }
 //* Selection Guide View *//
.view-selection-guide {
	
	.views-field-field-element-description {
		font-size: .9em;
	}
	.view-footer p:first-child {
	font-size: 14px;
	}
	

	.field-content .subtitle {
		font-weight: bold;
		font-size: 22px;	
	}
	
}


.view-inspiration-board {
	
	.l-main a:link, .l-post-main a:link, .l-main a:visited, .l-post-main a:visited {
		color: #fff;
	}
	
}

.view-clients {
	.views-field-field-client-logo .field-content {
		line-height: 82px;
		img {
			display: inline-block;
			width: inherit;
			vertical-align: middle;
		}
	}
}

.views-responsive-grid {
	.fa.fa-plus-square {
		color: #80c90a;
		font-size: 21px;
		position: relative;
		top: 2px;
	}

	.fa.fa-minus-square {
		font-size: 21px;
		top: 2px;
		color: #80c90a;
		position:relative;
	}
	.flag-wrapper {
	position: relative;
	border-left: 1px solid #B8B8B8;
	padding-left: 10px;
	margin-left: 7px;

	a {
		font-weight: bold;
		font-size: 15px;
		font-family: 'Candara';
	}
}
}	

.view-submitted-inspiration-board {
	.button {
		margin-bottom: 1.5em;
	}
	.sub-name { 
		color:#666;
		margin-bottom: 17px;
		span {
			border-right: 1px solid #B8B8B8;
			padding-right: 9px;
			font-weight: bold;
			margin-right: 5px;
		}
	}
}


