@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/AMPPS\/www\/stairs\.dev\/sites\/all\/themes\/just_stairs\/sass\/base\/misc\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%;
  height: auto; }
