@import 'compass';
@import 'options'; // EDIT STYLES AND OPTIONS IN _options.scss
@import 'glow';


//////////////////////////////////////////////////////////
// "INHERIT-SAFE" FONT SIZES /////////////////////////////
//////////////////////////////////////////////////////////
// If user elects to use font-size: inherit in _options
// leave out calcs which result in inherit2 etc.
$smallfs: inherit;
$tinyfs: inherit;
$largefs: inherit;
$mediumfs: inherit;
@if $font-size != inherit {
    $largefs: $font-size + 5;
    $tinyfs: $font-size - 2;
    $smallfs: $font-size + 2;
    $mediumfs: $font-size + 4;
}

//////////////////////////////////////////////////////////
// BUTTON BASE STYLES ////////////////////////////////////
//////////////////////////////////////////////////////////
#{$namespace} {
    @include box-shadow(0px 2px 3px rgba(50, 50, 50, .5), 0px 1px 2px rgba(0, 0, 0, .15));
    background-color: $bgcolor;
    @include background(linear-gradient(top,  lighten($bgcolor, 5%), darken($bgcolor, 5%)));
    @include inline-block(middle);
    border: 1px solid darken($bgcolor, 10%);
    height: $height;
    line-height: $height;
    padding: 0px ($height * .8);
    font-weight: $font-weight;
    font-size: $font-size;
    font-family: $font-family;
    color:  $font-color;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    margin: 0;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    &:hover {
        background-color: $bgcolor;
        @include background(linear-gradient(top,  lighten($bgcolor, 10%), darken($bgcolor, 7%)));
    }
    &:active {
        @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .3), 0px 1px 0px rgba(255, 255, 255, 1));
        text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
        background: desaturate($bgcolor, 20%);
        color: darken($bgcolor, 20%);
    }
    &:focus {
        outline: none;
    }
}

//HEIGHT NEEDED FOR FORM ELEMENTS
input#{$namespace}, button#{$namespace} {
    height: $height + 2;
    cursor: pointer;
}

// BLOCK BUTTON
#{$namespace}-block {
    display: block;
}

// DISABLED STATE
#{$namespace}.disabled,
#{$namespace}.disabled:hover,
#{$namespace}.disabled:active,
input#{$namespace}:disabled,
button#{$namespace}:disabled {
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, .10));
    background: #EEE;
    border: 1px solid #DDD;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    color: #CCC;
    cursor: default;
}

// WRAPPER EFFECT
#{$namespace}-wrap {
    @include background(linear-gradient(top,  #e3e3e3, #f2f2f2));
    @include border-radius(200px);
    @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, 0.04));
    padding: 10px;
    display: inline-block;
}



//////////////////////////////////////////////////////////
// SHAPES ////////////////////////////////////////////////
//////////////////////////////////////////////////////////
@each $style in $button_styles {

    // .button-rounded .button-pill button-circle
    #{$namespace}-#{$style} {

        @if $style == 'rounded' {
            @include border-radius(3px);
        }

        @else if $style == 'pill' {
            @include border-radius(50px);
        }

        @else if $style == 'circle' {
            @include border-radius($circle-size * 2);
            @include box-shadow(inset 0px 1px 1px rgba(255, 255, 255, .5), 0px 1px 2px rgba(0, 0, 0, .20));
            width: $circle-size;
            line-height: $circle-size;
            height: $circle-size;
            padding: 0px;
            border-width: 4px;
            font-size: $mediumfs;
        }
    }
}



//////////////////////////////////////////////////////////
// GRADIENT STYLES ///////////////////////////////////////
//////////////////////////////////////////////////////////
@each $action in $button_actions {
    //GET NAME & COLOR
    $name: nth($action, 1);
    $background: nth($action, 2);
    $color: nth($action, 3);

    // .button-primary .button-action etc.
    #{$namespace}-#{$name} {
        @include background(linear-gradient(top,  lighten($background, 8%), darken($background, 8%)));
        background-color: $background;
        border-color: darken($background, 10%);
        color: $color;
        text-shadow: 1px 1px 2px rgba(darken($background, 60%), 0.6);

        &:hover {
            background-color: $background;
            @include background(linear-gradient(top,  lighten($background, 12%), darken($background, 5%)));
        }
        &:active {
            background: desaturate($background, 20%);
            color: darken($background, 20%);
        }
    }
}



//////////////////////////////////////////////////////////
// FLAT STYLES ///////////////////////////////////////////
//////////////////////////////////////////////////////////

// FLAT BUTTON BASE
#{$namespace}-flat {
    $background: $bgcolor;
    @include box-shadow(none);
    @include transition-property(background);
    @include transition-duration(.3s);
    background: $background;
    border: none;
    text-shadow: none;

    &:hover {
        background: lighten($background, 5%);
    }
    &:active {
        @include transition-duration(0s);
        background: desaturate($background, 20%);
        color: darken($background, 20%);
    }
    &.disabled {
        @include box-shadow(none);
    }
}

@each $action in $button_actions {
    //GET NAME & COLOR
    $name: nth($action, 1);
    $background: nth($action, 2);
    $color: nth($action, 3);

    // .button-flat-primary .button-flat-action etc.
    #{$namespace}-flat-#{$name} {
        @include box-shadow(none);
        @include transition-property(background);
        @include transition-duration(.3s);
        background: $background;
        color: $color;
        text-shadow: none;
        border: none;

        &:hover {
            background: lighten($background, 5%);
        }
        &:active {
            @include transition-duration(0s);
            background: desaturate($background, 20%);
            color: darken($background, 15%);
        }
        &.disabled {
            @include box-shadow(none);
        }
    }
}



//////////////////////////////////////////////////////////
// SIZES /////////////////////////////////////////////////
//////////////////////////////////////////////////////////

@each $size in $button_sizes {

    // .button-large .button-small .button-tiny
    #{$namespace}-#{$size} {
        @if $size == 'large' {
            font-size: $largefs;
            height: $height * 1.2;
            line-height: $height * 1.2;
            padding: 0px ($height * 1.2) * .8;
        }

        @if $size == 'small' {
            font-size: $smallfs;
            height: $height * .8;
            line-height: $height * .8;
            padding: 0px ($height * .8) * .8;
        }

        @if $size == 'tiny' {
            font-size: $tinyfs;
            height: $height * .7;
            line-height: $height * .7;
            padding: 0px ($height * .7) * .8;
        }
    }

    //HEIGHT NEEDED FOR FORM ELEMENTS +2px on height
    input#{$namespace}-#{$size}, button#{$namespace}-#{$size} {
        @if $size == 'large' {
            height: ($height * 1.2) + 2;
        }

        @if $size == 'small' {
            height: ($height * .8) + 2;
        }

        @if $size == 'tiny' {
            height: ($height * .7) + 2;
        }
    }
}


//////////////////////////////////////////////////////////
// GLOWING BUTTON STYLES /////////////////////////////////
//////////////////////////////////////////////////////////
#{$namespace} {
    &#{$glow_namespace} {
        @include glow;
    }
    &#{$glow_namespace}:active {
        @include no_animation;
        @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .3), 0px 1px 0px rgba(255, 255, 255, 1));
    }
}


//////////////////////////////////////////////////////////
// DROPDOWN //////////////////////////////////////////////
//////////////////////////////////////////////////////////

#{$namespace}-dropdown {
    position: relative;
    overflow: visible;
    display: inline-block;

    #{$namespace}-overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 999;
    }

    //EXTRA STYLES FOR CARET
    .button {
        .icon-caret-down {
            font-size: 90%;
            margin: 0px 0px 0px 3px;
            vertical-align: middle;
        }
    }

    ul#{$namespace}-dropdown-menu-below {
        top: 115%;
    }
    ul#{$namespace}-dropdown-menu-above {
        bottom: 115%;
        top: auto;
    }

    //DROPDOWN MENU STYLES
    ul {
        @include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
        @include border-radius(3px);
        display: none;
        position: absolute;
        background: $dropdown-background;
        top: -2px;
        left: -2px;
        z-index: 1000;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        min-width: 102%;

        li {
            padding: 0px;
            margin: 0px;
            display: block;

            &:first-child a {
                 @include border-top-radius(3px);
            }
            &:last-child a {
                 @include border-bottom-radius(3px);
            }
        }

        //DROPDOWN MENU DIVIDER 
        #{$namespace}-dropdown-divider {
            @include box-shadow(inset 0px 1px 0px #FFF);
            border-top: 1px solid #e4e4e4;
        }

        a {
            display: block;
            padding: 0px 20px;
            text-decoration: none;
            font-size: $tinyfs;
            color: $dropdown-link-color;
            line-height: 30px;
            white-space: nowrap;

            &:hover {
                background-color: $dropdown-link-hover-background;
                color: $dropdown-link-hover;
            }
        }
    }
}
