@import 'options';

//////////////////////////////////////////////////////////
// GLOWING BUTTON STYLES /////////////////////////////////
//////////////////////////////////////////////////////////
@-webkit-keyframes glowing,
 {
    from { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
    50% { @include box-shadow(0px 0px 16px rgba($glow_color, 0.8), 0px 1px 2px rgba(0, 0, 0, .20));}
    to { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
}
@-khtml-keyframes glowing,
 {
    from { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
    50% { @include box-shadow(0px 0px 16px rgba($glow_color, 0.8), 0px 1px 2px rgba(0, 0, 0, .20));}
    to { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
}
@-moz-keyframes glowing,
 {
    from { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
    50% { @include box-shadow(0px 0px 16px rgba($glow_color, 0.8), 0px 1px 2px rgba(0, 0, 0, .20));}
    to { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
}
@-ms-keyframes glowing,
 {
    from { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
    50% { @include box-shadow(0px 0px 16px rgba($glow_color, 0.8), 0px 1px 2px rgba(0, 0, 0, .20));}
    to { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
}
@-o-keyframes glowing,
 {
    from { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
    50% { @include box-shadow(0px 0px 16px rgba($glow_color, 0.8), 0px 1px 2px rgba(0, 0, 0, .20));}
    to { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
}
@keyframes glowing,
 {
    from { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
    50% { @include box-shadow(0px 0px 16px rgba($glow_color, 0.8), 0px 1px 2px rgba(0, 0, 0, .20));}
    to { @include box-shadow(0px 0px 0px rgba($glow_color, 0.3), 0px 1px 2px rgba(0, 0, 0, .20));}
}

@mixin glow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -khtml-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: glowing;
    -khtml-animation-name: glowing;
    -moz-animation-name: glowing;
    -ms-animation-name: glowing;
    -o-animation-name: glowing;
    animation-name: glowing;
}

@mixin no_animation {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -ms-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
}