
//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
$namespace: '.button'; //prefix for all classes
$glow_namespace: '.glow';
$glow_color: #2c9adb;
$bgcolor: #EEE;
$height: 40px;


//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$font-color: #666;
$font-size: 14px;
$font-weight: 300;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


//////////////////////////////////////////////////////////
// BUTTON OPTIONS ////////////////////////////////////////
//////////////////////////////////////////////////////////

// (name background-color font-color) add as many as you like.
$button_actions: ('primary' #39A1DE #FFF) ('action' #72C20B #FFF) ('highlight' #F18D05 #FFF)('caution' #E54028 #FFF) ('royal' #87318C #FFF);
$button_styles: 'rounded' 'pill' 'circle';
$button_sizes: 'large' 'small' 'tiny';
$circle-size: 120px; //radius for circle buttons, circles only have one size


////////////////////////////////////////////////////////// 
// DROPDOWN OPTIONS //////////////////////////////////////
//////////////////////////////////////////////////////////
$dropdown-background: #fcfcfc;
$dropdown-link-color: #333;
$dropdown-link-hover: #FFF;
$dropdown-link-hover-background: #3c6ab9;


//////////////////////////////////////////////////////////
// MORE COLORS  //////////////////////////////////////////
//////////////////////////////////////////////////////////

//Original Colors//
//$button_actions: ('primary' #2c9adb #FFF) ('action' #7db500 #FFF) ('highlight' #f19900 #FFF) ('caution' #ed1c24 #FFF) ('royal' #771ead #FFF);
