/*******************************************************************************
 * allround.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";


// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";



.l-header,
.l-main,
.l-post-main,
.l-post-footer,
.l-hero {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}
.site-logo {
  padding-left: 15px;
}
.l-post-footer {
// extra theme specific
  #block-block-9,
  #block-views-inspiration-board-block,
  #block-block-5 {
    @include container; // Define these elements as the grid containers.
    @include span-columns(4, 4); // Span 4 out of 12 columns.
  }
}
.l-branding {
  padding: ($vert-spacing-unit * 1.3) 0 0em;
}


.l-hero-wrap {
  //background: url('../../../images/header-bg.png') repeat;
  background: url('../../../images/header-bg.png') repeat;
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;

  .l-hero-inner {
    img {
      height: auto;
      
    }

  }
}


.l-footer {
  @include container; // Define these elements as the grid containers.
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}
.l-hero {
  padding-left:0;
  padding-right:0;
}
/*///////////////////////////////////////////////*/
/*////////    BREAK POINT FOR   Mobile ////////////*/
/*///////////////////////////////////////////////*/

@include at-breakpoint($mobile) {
  .l-hero .view-quicklinks .views-column 
  .quicklink .quicklink-content .quicklink-title {
    display: table-cell;
  }

  .post-links {
    text-align: center;
    li {
      display: block;
      border-right: none;
      border-bottom: 1px solid #aeaeae;
    }
  }
 
  .l-content .view-selection-guide .view-filters .form-item, 
  .l-content .view-gallery .view-filters .form-item, 
  .l-content .view-inspiration-board .view-filters .form-item {
      margin-bottom: .5em;
  }
  .l-content .view-selection-guide .view-filters .form-item .selected a, 
  .l-content .view-gallery .view-filters .form-item .selected a, 
  .l-content .view-inspiration-board .view-filters .form-item .selected a {
      padding-bottom: 0.2em;
  }
  .button {
    padding: 0 13px;
    font-size: 15px;
  }
  .l-post-footer .flexslider {
    width: 74%;
    margin: 0 auto;
  }
  .l-main, .l-post-main, .l-post-footer, .l-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .l-header,
  .l-hero {
    padding: 0;
  }
  .l-post-footer #block-block-9, .l-post-footer #block-views-inspiration-board-block, .l-post-footer #block-block-5 {
    padding-left: 64px;
    padding-right: 64px;
  }
  .l-post-footer .view-inspiration-board .views-field {
    padding: 0px 0 0px 0px;
    color: #AAA;
    font-size: 0.8em;
    margin: 0 -1px 0 17px;
  }
  .view-clients .slides li {
    width: 108px !important;
  }


} //* END OF MOBILE BREAKPOINT *//




/*///////////////////////////////////////////////*/
/*////////    BREAK POINT FOR   T A B  ////////////*/
/*///////////////////////////////////////////////*/

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-page {
  font-size:0.9em;
  }

  .l-header,
  .l-main,
  .l-post-main,
  .l-footer,
  .l-post-footer,
  .l-hero {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    //@include susy-grid-background;
  }
  .site-logo {
    padding-left: 0px;
  }
  .l-branding {
    float: left;
  }
  .l-region--header {
    float: right;
    .block--superfish {
      float: left;
    }
  }
  .l-hero {
    .l-title-inner {
      padding-left: 40px;
    }
    .view-quicklinks {
      .views-column {
        .quicklink {
          margin-bottom: 3.3em;
          font-size:0.95em;
          //min-height: (18 * $vert-spacing-unit);
          min-height: 20em;
          overflow: visible;
          .quicklink-content {
          font-size:0.85em;
          float:none;
          width:100%;
            .quicklink-body {
              display:block;
            }
            i {
              display: none;
            }
          }

          a.button {
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            bottom: -3.2em;
            right: 0em;
            
          }

          .quicklink-image {
            width:100%;
            float:none;
            position: absolute;
            bottom:0px;
          }

          .quicklink-title {
            padding:0em !important;
            display: block;
            h2 {
              padding:0em !important;
              margin: 1em 0em !important;
            }
          }
        }
      }
    }

    .flexslider .views-field-title {
      text-align: right;
    }
    .slide-title {
      font-size: 1.8em;
    }
    .cta .button-action {
      display: inline-block !important;
    }

    #block-block-10 {
      display:none;
    }

    .view-quicklinks {
      .views-column-1, .views-column-2 {
        @include span-columns(4, 12); // Span 4 out of 16 columns.
      }
      .views-column-3 {
        @include span-columns(4 omega, 12); // Span 4 out of 16 columns.
      }
    }
  }

  .front .l-prefix {
    .prefix-button {
      display: block !important;
    }
    .block {
      min-height: (17.5 * $vert-spacing-unit);
      text-align: left;
      .block__content {
        display:block;
      }
    }
    h2 {
      position: relative;
      text-align: left !important;;
      padding-right:0em !important;;
      min-height: 1em !important;;
      padding-left:0em !important;
      font-size: 1.4em !important;;
      padding-top:0em !important;;
      .fa {
        display:none;
      }
    }
  }

  .not-front .header-cta {
    display: block !important;
  }

  .l-prefix-first,
  .l-prefix-second {
    @include span-columns(4, 12); // Span 4 out of 12 columns.
  }

  .l-prefix-third {
    @include span-columns(4 omega, 12); // Span 4 out of 16 columns.
  }
  

  .l-footer-wrap {
    font-size: 0.8em;
  }

  .l-footer {
    padding-top:3em;
  }

  .l-footer-first,
  
  .l-footer-third {
    @include span-columns(3, 12); // Span 4 out of 12 columns.

  }
  .l-footer-second {
    @include span-columns(2, 12); // Span 4 out of 12 columns.
  }

  .l-footer-first {
    padding-top:($vert-spacing-unit * 4) !important;
  }

  .l-footer-second .block,
  .l-footer-third .block {
    padding:0em 3em;
    border-right: 1px solid #2995D6;
    min-height: 15em;
  }

 .l-footer-forth {
    @include span-columns(4 omega, 12); // Span 4 out of 12 columns.
  }

  .l-post-footer {
    #block-block-9 {
      @include span-columns(3, 12);
    }
    #block-views-inspiration-board-block {
      @include span-columns(6, 12);
    }
    #block-block-5 {
      @include span-columns(3 omega, 12);
    }

    #block-block-9, #block-block-5 {
    padding:2em 0em;
    }
  }

  .l-footer-second, .l-footer-third {
    display:block !important;
  }

  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first {
    padding-right: $horz-spacing-unit;
  }

  .has-sidebar-second {
    .l-content {
      padding-right: 2em;
    }
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }

  //* Gallery Node *//
  $gutter-width: .5em;
  .res-two-col {
    .views-column-first {
      @include span-columns(6, 12);
    }

    .views-column-last {
      @include span-columns(6 omega, 12);
    }
  }
  .res-three-col {
    .views-field-field-gallery-images {
      text-align: center;
    }
    .views-row-last {
      margin-bottom: 1em;
    }
    .views-column-1 {
      @include span-columns(4, 12);
    }

    .views-column-2 {
      @include span-columns(4, 12);
    }
    .views-column-3 {
      @include span-columns(4 omega, 12);
    }
  }
}

/*///////////////////////////////////////////////*/
/*////////    BREAK POINT FOR DESKTOP ////////////*/
/*///////////////////////////////////////////////*/

@include at-breakpoint($desk) {
  .l-page {
  font-size:1em;
  }

  .l-header,
  .l-main,
  .l-post-main,
  .l-footer,
  .l-post-footer,
  .l-hero {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    //@include susy-grid-background;
  }

  .l-header {
    #block-block-12 {
      display: block;
    }
  }

  .l-hero {
    margin-bottom: 5px;
    .slide-title {
      font-size: 2em !important;
    }
    .cta .button-action {
      display: inline-block !important;
    }
  }
  .not-front .header-cta {
    display: block !important;
  }

  .l-hero {
    .view-quicklinks {
      .views-column {
        .quicklink {
          margin-bottom: 1em;
        }
      }
      .views-column-1, .views-column-2 {
        @include span-columns(8, 24); // Span 4 out of 16 columns.
      }
      .views-column-3 {
        @include span-columns(8 omega, 24); // Span 4 out of 16 columns.
      }
      .views-column .quicklink a.button {
        
        max-width: 85%;
        bottom:1em;
        right: 1em;
        padding-left: 10px;
        padding-right: 8px;
        i {
              display: inline;
        }
      }
      
    }
  }

  .l-prefix-first,
  .l-prefix-second {
    @include span-columns(8, 24); // Span 4 out of 16 columns.
  }

  .l-prefix-third {
    @include span-columns(8 omega, 24); // Span 4 out of 16 columns.
  }

  .l-content {
    .res-two-col {
      .views-column-first {
        @include span-columns(12, 24);
      }

      .views-column-last {
        @include span-columns(12 omega, 24);
      }
    }
    .res-three-col {
      .views-column-1 {
        @include span-columns(8, 24);
      }

      .views-column-2 {
        @include span-columns(8, 24);
      }
      .views-column-3 {
        @include span-columns(8 omega, 24);
      }
    }
  }

  .l-footer-wrap {
    font-size: 0.8em;
  }

  .l-footer-first,
  
  .l-footer-third {
    @include span-columns(5, 24); // Span 4 out of 16 columns.
  }
  .l-footer-second {
    @include span-columns(4, 24); // Span 4 out of 16 columns.
  }

  .l-footer-first {
    padding-top:($vert-spacing-unit * 4) !important;
  }

  .l-footer-forth {
    @include span-columns(9 omega, 24); // Span 4 out of 16 columns.
  }

  .l-footer-second, .l-footer-third {
    display:block !important;
  }

  .l-post-footer {
    #block-block-9 {
      @include span-columns(5, 24);
    }
    #block-views-inspiration-board-block {
      @include span-columns(14, 24);
    }
    #block-block-5 {
      @include span-columns(5 omega, 24);
    }
    #block-block-9, #block-block-5 {
    padding:2em 0em;
    }
  }

  .has-sidebar-first {
    .l-content {
      @include span-columns(18 omega, 24); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(6, 24); // Span 4 out of 16 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span-columns(18, 24); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(6 omega, 24); // Span the last (omega) 4 columns of 16.
      clear: none;
    }
  }

  .has-two-sidebars {
    .l-content {
      @include span-columns(12, 24); // Span 8 out of 16 columns.
      @include push(6, 24);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(6, 24); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(18, 24); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
}
